
body {
    font-family: var(--font-family);
}

#top{
    top: 0px;
    height: 56px;
    background-color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
    color: black;
    background-color: none;
}
select{
    background-color: gray;
}
option{
    background-color: gray;
}